<div class="top">
  <h1>Pictures</h1>   <%= link_to "New Picture", "/pictures/new" %>
</div>


<div class="images">
  <% @pictures.each do |picture| %>
    <p><h2><%= picture[:title] %></h2> <h4><%= picture[:artist] %></h4></p>
    <p><%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %></p>
  <% end %>
</div>